name: My closest CI project to real world development
on:
    push:
        branches:
            - v\d\.\d
env:
  ifVulnerable: false
jobs:
    myCI:
        runs-on: ubuntu-latest
        steps:
          - name: checkout code
            uses: actions/checkout@v4
          - name: Build an image from Dockerfile
            run: |
              docker build -t docker.io/my-organization/my-app:${{github.sha}} .
          - name: Run Trivy vulnerability scanner
            id: trivy
            uses: aquasecurity/trivy-action@master
            with:
              image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}' # 对之前的image进行扫描
              format: 'table'
              exit-code: '0'       # 出错以后不退出 继续执行 根据全局变量判断有无ciritical vulnerability
              ignore-unfixed: true
              vuln-type: 'os,library'
              severity: 'CRITICAL,HIGH'
              output: 'trivy-results.txt'
          # 通过检查文件里有没有存在CRITICAL这个关键字设置全局变量
          - name: Check and Trivy results
            run: |
              if grep -q "CRITICAL" trivy-results.txt; then
                echo "ifVulnerable=true" >> $GITHUB_ENV                
                cat trivy-results.txt
              fi

          - name: Vulnerability Found
            if: ${{env.ifVulnerable == 'true'}}
            id: slack
            uses: slackapi/slack-github-action@v1.24.0
            with:
              payload: |
                {
                  "text": "e1221805",
                  "blocks": 
                    [
                      {
                        "type": "header",
                        "text": {
                          "type": "plain_text",
                          "text": "New request"
                        }
                      },
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*<${{github.repositoryUrl}}|${{github.repository_owner}}>"
                          }
                          ,
                          {
                            "type": "mrkdwn",
                            "text": "*Ref:*\n${{github.ref}}"
                          },
                          {
                            "type": "mrkdwn",
                            "text": "*Event:*\n${{github.event_name}}"
                          },
                          {
                            "type": "mrkdwn",
                            "text": "*Actions URL:*\n<${{github.repositoryUrl}}/actions|CICD-Assignment>"
                          },
                          {
                            "type": "mrkdwn",
                            "text": "*Commit:*\n<${{github.repositoryUrl}}/commit/${{github.sha}}|CICD-Assignment>"
                          },
                          {
                            "type": "mrkdwn"
                            "text": "*Scan Failed:*\nFailed trivy scan, see upload report."
                          }
                        ]
                      }
                    ]
                }
            env:
              SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
              SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
          
          
  


          
        